
  @import '~bootstrap/dist/css/bootstrap.min.css';
  @import '~font-awesome/css/font-awesome.css';
  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

  .full-width-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .mat-form-field{
    padding: 10px;
    width: 400px;
  }

  .privacy-container{
    padding: 10px;
  }