<div class="container">
  <div class="d-flex flex-row">
    <div class="col home-icons">
      <h6>Settings</h6>
      <span class="fa fa-cog" aria-hidden="true"></span>
    </div>
    <div class="col home-icons" routerLink="/create-adv" >
       <div>
          <h6>Create ADV</h6>
          <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
      </div>
       
    </div>
    <div class="col home-icons">
        <h6>Email Template</h6>
      <span class="fa fa-envelope-o" aria-hidden="true"></span>
    </div>
  </div>
</div>
