<div class="d-flex flex-column justify-content-center home-icon-container">
    <div class="d-flex justify-content-center flex-wrap align-items-center">
        <div class="home-icons p-4">
          <h6>Settings</h6>
          <span class="fa fa-cog" aria-hidden="true"></span>
        </div>
        <div class="home-icons p-4" routerLink="/adv/create-adv">
          <div>
            <h6>Create ADV</h6>
            <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
          </div>
        </div>
        <div class="home-icons p-4"  routerLink="/adv/email-template">
          <h6>Email Template</h6>
          <span class="fa fa-envelope-o" aria-hidden="true"></span>
        </div>
      </div>
</div>